<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <div class="container">
          <div class="row">
            <ul class="post-grid" ng-show="blog.isSelected('blog')">
              <li ng-repeat="post in blog.posts" class="col-s-4" ng-class="{ 'reset-s' : $index%3==0 }" ng-click="blog.selectTab($index)">
                <h3>{{post.title}}</h3>
                <p>{{post.body[0] | limitTo:70}}...</p>
                <p class="fa fa-comment push-left"> {{post.comments.length}}
                </p>
                <p class="fa fa-heart push-right"> {{post.likes}}
                </p>
              </li>
            </ul>
            <div class="post" ng-repeat="post in blog.posts" ng-show="blog.isSelected($index)">
              <div>
  
                <h2>{{post.title}}</h2>
                <img src="{{post.image}}" ng-show="{{post.image}}" />
                <cite>by {{post.author}} on {{post.createdOn | date}}</cite>
                <div class="post-body">
                  <p ng-repeat="paragraph in post.body">
                    {{paragraph}}
                  </p>
                </div>
</body>
</html>